<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="text-center">
    <h1 class="fw-bold">Nouveau contact</h1>
    <a href="/contacts" class="btn btn-info my-3"
      ><i class="bi bi-arrow-left fs-4"></i
    ></a>

    <form action="/contacts" method="POST">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Nom"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="Téléphone"
          required
        />
      </div>
      <div class="mb-3">
        <textarea
          class="form-control"
          id="address"
          name="address"
          placeholder="Adresse"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
</div>
